# .gitignore

# Ignore node_modules folder
node_modules/

# Ignore Python virtual environments
venv/

# Ignore Django migrations
backend/migrations/

# Ignore compiled Python files
*.pyc

# Ignore database files
*.db
*.sqlite3

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.idea/
.vscode/

# Ignore build files
frontend/build/

# Ignore environment variables
.env

# Ignore Python cache files
__pycache__/