body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#feed {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  overflow-y: auto;
}

#dashboard {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}

#statistics {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
}